doctype html
html
    head
        title pug tutorial
    body
        h1 This is our Pug Tutorial
        p.
            This is our first paragraph
            and this is a new line
        ul 
            li first
            li second
            li next