doctype html 
html
    head
    body
        h1#pageTitle page title
        p.big-para.
            Here is some text for our big paragraph
            Even more text is here
        p.big-para.
            A second big paragraph
            full of even more text
        .display-box.
            this will be a default div because we started with a 
            class declaration
        #myOnlyDiv.
            A div with an id.